body{
    background-color:#212121;
    color: white;
}
.heading{
    text-align: center;
}
.container{
    display: fl;
    text-align: center;
}
.height{
    margin: 2rem;
}
.weight{
    margin: 2rem;
}
.bmiguide{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}
h2{
    color:lightblue;
}
#result{
    margin: 2rem;
}
#refresh{
    margin-left: 10px;
}