body{
    background-color: #212121;
    color: white;
}
.centre{
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
     justify-content: center; 
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color:black
}
span{
    font-size: 23px;
}